# Modelo

In [1]:
import pandas as pd
import numpy as np

In [3]:
uri = 'bolt://localhost:7687'
user = 'neo4j'
psw = 'password'

In [2]:
x_train = pd.read_csv('data/x_train.csv')
y_train = pd.read_csv('data/y_train.csv')
x_val = pd.read_csv('data/x_val.csv')
y_val = pd.read_csv('data/y_val.csv')
x_test = pd.read_csv('data/x_test.csv')
y_test = pd.read_csv('data/y_test.csv')
features = ['cat_based', 'cat_cnt', 'user_based', 'user_cnt',
            'adamic_adar', 'resource_allocation', 'link_cnt', 'cat_avg', 'user_avg',
            'adar_avg', 'ra_avg']

In [145]:
len(y_train), len(y_val), len(y_test)

(706, 151, 152)

In [162]:
train = [i for i in range(706)]
val = [706 + i for i in range(151)]
test = [856 + i for i in range(152)]

### Normalizador

In [96]:
df = pd.concat([x_train, x_val, x_test])
df.head()

,user_id,podcast_id,cat_based,cat_cnt,user_based,user_cnt,adamic_adar,resource_allocation,link_cnt,cat_avg,user_avg,adar_avg,ra_avg
0,426DDBF8D527E3A,b69677f9f694bd3566eaf9fff0343784,0.0,0.0,0.0,0.0,0.000000,0.000000,5.0,0.00,0.0,0.000000,0.000000
1,E2FC7EABA5761EC,b5cf7d57fdf09b9e4177a0afb8cd467f,7.0,7.0,0.0,0.0,2.998319,0.717647,5.0,1.00,0.0,0.599664,0.143529
2,AC072D3BF1CB749,b4c3c3ebdd76e284f7d9fa358ac82030,10.0,2.0,45.0,3.0,10.440813,2.436210,2.0,5.00,15.0,5.220406,1.218105
3,5C82AAF7008477B,b1a3eb2aa8e82ecbe9c91ed9a963c362,60.0,16.0,52.0,4.0,26.122381,4.198098,13.0,3.75,13.0,2.009414,0.322931
4,5D7ADA74FE6E018,dfa087abaf0dd92207c499a9ed5e4451,20.0,4.0,0.0,0.0,7.104152,1.361685,5.0,5.00,0.0,1.420830,0.272337

In [132]:
max_df = df.groupby('user_id')[features].max()
max_df.sum()

cat_based              1322.000000
cat_cnt                 282.000000
user_based             6443.000000
user_cnt                443.000000
adamic_adar            1952.829911
resource_allocation     575.056886
link_cnt                291.000000
cat_avg                 278.892857
user_avg                708.033333
adar_avg                829.161883
ra_avg                  263.489960
dtype: float64

In [133]:
df[df['user_id'] == '14F47B6A810BA33'][features]/0.

,cat_based,cat_cnt,user_based,user_cnt,adamic_adar,resource_allocation,link_cnt,cat_avg,user_avg,adar_avg,ra_avg
689,inf,inf,NaN,NaN,inf,inf,inf,inf,NaN,inf,inf
139,inf,inf,NaN,NaN,inf,inf,inf,inf,NaN,inf,inf

In [143]:

def norm_row(row, max_df):
    try:
        return row[features].values / max_df.loc[row['user_id']].values
    except:
        return [0] * len(features)

def norm_by_user(df, max_df):
    new_df = pd.DataFrame()
    new_df[features] = df.apply(lambda row: norm_row(row, max_df), axis = 1, result_type='expand')
    return new_df.fillna(0)

In [147]:
norm = norm_by_user(df, max_df)
norm.describe()

,cat_based,cat_cnt,user_based,user_cnt,adamic_adar,resource_allocation,link_cnt,cat_avg,user_avg,adar_avg,ra_avg
count,1009.000000,1009.000000,1009.000000,1009.000000,1009.000000,1009.000000,1009.000000,1009.000000,1009.000000,1009.000000,1009.000000
mean,0.443932,0.482266,0.367770,0.382974,0.430134,0.393652,0.658077,0.524905,0.460782,0.430134,0.393652
std,0.415557,0.432655,0.420172,0.435045,0.407566,0.405149,0.474589,0.460159,0.467875,0.407566,0.405149
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.500000,0.555556,0.042963,0.044444,0.426870,0.247035,1.000000,0.800000,0.466667,0.426870,0.247035
75%,0.850000,1.000000,0.831461,1.000000,0.868866,0.849875,1.000000,1.000000,1.000000,0.868866,0.849875
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [158]:
norm.iloc[1000]

cat_based              0.0
cat_cnt                0.0
user_based             0.0
user_cnt               0.0
adamic_adar            0.0
resource_allocation    0.0
link_cnt               0.0
cat_avg                0.0
user_avg               0.0
adar_avg               0.0
ra_avg                 0.0
Name: 143, dtype: float64

In [163]:
x_train_norm = norm.iloc[train].copy()
x_val_norm = norm.iloc[val].copy()
x_test_norm = norm.iloc[test].copy()

In [196]:
x_train_norm.to_csv('data/x_train_norm.csv', index=False)
x_val_norm.to_csv('data/x_val_norm.csv', index=False)
x_test_norm.to_csv('data/x_test_norm.csv', index=False)

In [184]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(x_train_norm, y_train.values.reshape(1,-1)[0])

LogisticRegression()

In [185]:
pred = lr.predict(x_val_norm)

In [186]:
(pred == y_val.values).mean(), y_val.values.mean()

(0.7628174202885838, 0.7814569536423841)

In [194]:

lr = LogisticRegression(solver='liblinear')
lr.fit(x_train[features], y_train.values.reshape(1,-1)[0])

LogisticRegression(solver='liblinear')

In [195]:
pred = lr.predict(x_val[features])
(pred == y_val.values).mean(), y_val.values.mean()

(0.7441778869347836, 0.7814569536423841)

### NN

In [3]:
from tensorflow.keras import *

In [4]:
from tensorflow.keras.layers import *
from tensorflow.keras import Sequential
import tensorflow as tf

In [18]:
model = Sequential([
    InputLayer(input_shape = (len(features), )),
    Dense(256, activation='relu'),
    Dense(256, activation='relu'),
    Dense(256, activation='relu'),
    Dense(1, activation=tf.keras.activations.softmax)
])

In [19]:
model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=1e-3),
              loss=tf.keras.losses.BinaryCrossentropy())

In [20]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 256)               3072
_________________________________________________________________
dense_7 (Dense)              (None, 256)               65792
_________________________________________________________________
dense_8 (Dense)              (None, 256)               65792
_________________________________________________________________
dense_9 (Dense)              (None, 1)                 257
=================================================================
Total params: 134,913
Trainable params: 134,913
Non-trainable params: 0
_________________________________________________________________

In [21]:
model.fit(x_train[features], y_train)

23/23 [==============================] - 0s 2ms/step - loss: 0.8167

In [24]:
pred = model.predict(x_val[features])
(pred == y_val.values).mean(), y_val.mean()

(0.7814569536423841,
 liked    0.781457
 dtype: float64)

In [23]:
pred,y_val

(array([[1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.],
        [1.]], dtype=float32),
      liked
 0        1
 1        1
 2        1
 3        1
 4        1
 ..     ...
 146      1
 147      1
 148      1
 149      0
 150      1

 [151 rows x 1 columns])