In [2]:
import pandas as pd

In [1]:
PATH = 'database.sqlite'

In [4]:
import sqlite3 as sql
conn = sql.connect(PATH)

In [5]:
runs = pd.read_sql('select * from runs', conn)

In [6]:
runs.head()

                run_at  max_rowid  reviews_added
0  2021-05-10 02:53:00    3266481        1215223
1  2021-06-06 21:34:36    3300773          13139
2  2021-07-02 18:04:55    3329699          11561
3  2021-08-01 17:54:42    3360315          11855
4  2021-09-02 18:00:30    3390165          11714

In [9]:
runs.to_csv('runs.csv', sep="\t")

In [10]:
categories = pd.read_sql('select * from categories', conn)

In [11]:
categories.head()

                         podcast_id              category
0  c61aa81c9b929a66f0c1db6cbe5d8548                  arts
1  c61aa81c9b929a66f0c1db6cbe5d8548  arts-performing-arts
2  c61aa81c9b929a66f0c1db6cbe5d8548                 music
3  ad4f2bf69c72b8db75978423c25f379e                  arts
4  ad4f2bf69c72b8db75978423c25f379e           arts-design

In [47]:
categories.describe()

                              podcast_id         category
count                             100653           100653
unique                             51437              110
top     fa8c359031380cd4f3b38358c8a75f92  society-culture
freq                                   8            10603

In [59]:
categories.to_csv('categories.csv', sep='\t')

In [49]:
podcasts = pd.read_sql('select * from podcasts', conn)

In [50]:
podcasts.head()

,podcast_id,itunes_id,slug,itunes_url,title
0,a00018b54eb342567c94dacfb2a3e504,1313466221,scaling-global,https://podcasts.apple.com/us/podcast/scaling-...,Scaling Global
1,a00043d34e734b09246d17dc5d56f63c,158973461,cornerstone-baptist-church-of-orlando,https://podcasts.apple.com/us/podcast/cornerst...,Cornerstone Baptist Church of Orlando
2,a0004b1ef445af9dc84dad1e7821b1e3,139076942,mystery-dancing-in-the-dark,https://podcasts.apple.com/us/podcast/mystery-...,Mystery: Dancing in the Dark
3,a00071f9aaae9ac725c3a586701abf4d,1332508972,kts-money-matters,https://podcasts.apple.com/us/podcast/kts-mone...,KTs Money Matters
4,a000aa69852b276565c4f5eb9cdd999b,1342447811,speedway-soccer,https://podcasts.apple.com/us/podcast/speedway...,Speedway Soccer

In [51]:
podcasts.describe()

          itunes_id
count  5.143700e+04
mean   1.108997e+09
std    3.985725e+08
min    7.332927e+07
25%    9.421270e+08
50%    1.259695e+09
75%    1.439845e+09
max    1.493219e+09

In [52]:
podcasts = podcasts[['podcast_id', 'title']]
podcasts.head()

                         podcast_id                                  title
0  a00018b54eb342567c94dacfb2a3e504                         Scaling Global
1  a00043d34e734b09246d17dc5d56f63c  Cornerstone Baptist Church of Orlando
2  a0004b1ef445af9dc84dad1e7821b1e3           Mystery: Dancing in the Dark
3  a00071f9aaae9ac725c3a586701abf4d                      KTs Money Matters
4  a000aa69852b276565c4f5eb9cdd999b                        Speedway Soccer

In [60]:
podcasts.to_csv('podcasts.csv', sep='\t')

In [54]:
reviews = pd.read_sql('select * from reviews', conn)

In [55]:
reviews.head()

,podcast_id,title,content,rating,author_id,created_at
0,c61aa81c9b929a66f0c1db6cbe5d8548,really interesting!,Thanks for providing these insights. Really e...,5,F7E5A318989779D,2018-04-24T12:05:16-07:00
1,c61aa81c9b929a66f0c1db6cbe5d8548,Must listen for anyone interested in the arts!!!,Super excited to see this podcast grow. So man...,5,F6BF5472689BD12,2018-05-09T18:14:32-07:00
2,ad4f2bf69c72b8db75978423c25f379e,nauseatingly left,"I'm a liberal myself, but its pretty obvious a...",1,1AB95B8E6E1309E,2019-06-11T14:53:39-07:00
3,ad4f2bf69c72b8db75978423c25f379e,Diverse stories,I find Tedx talks very inspirational but I oft...,5,11BB760AA5DEBD1,2018-05-31T13:08:09-07:00
4,ad4f2bf69c72b8db75978423c25f379e,üëçüëçüëçüëç,"I love this podcast, it is so good.",5,D86032C8E57D15A,2019-06-19T13:56:05-07:00

In [57]:
reviews.groupby(by='author_id').count().describe()

,podcast_id,title,content,rating,created_at
count,976127.000000,976127.000000,976127.000000,976127.000000,976127.000000
mean,1.349134,1.349134,1.349134,1.349134,1.349134
std,1.887786,1.887786,1.887786,1.887786,1.887786
min,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,1.000000,1.000000,1.000000
50%,1.000000,1.000000,1.000000,1.000000,1.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000
max,615.000000,615.000000,615.000000,615.000000,615.000000

In [58]:
reviews.to_csv('reviews.to_csv', sep='\t')

In [138]:
aut = reviews.copy()
aut = aut.groupby('author_id')[['title', 'rating']].count().sort_values(by='title', ascending=False)
aut.describe()

               title         rating
count  976127.000000  976127.000000
mean        1.349134       1.349134
std         1.887786       1.887786
min         1.000000       1.000000
25%         1.000000       1.000000
50%         1.000000       1.000000
75%         1.000000       1.000000
max       615.000000     615.000000

In [139]:
aut = aut[aut['title'] > 50]
print(len(aut))
aut = aut.reset_index()
aut = aut['author_id']
aut.head()

124

0    791F376ACA3C08D
1    D3307ADEFFA285C
2    96A3F0358E7808D
3    7F9EA8B1A449BFC
4    A52EBC918BC19D1
Name: author_id, dtype: object

In [140]:
import numpy as np
aut = aut[np.random.random_sample(len(aut)) > 0.5]
aut.describe()

count                  67
unique                 67
top       31E49853DC8D7FE
freq                    1
Name: author_id, dtype: object

In [141]:
aut.to_csv('aut_sample.csv', sep='\t')

In [145]:
pod = reviews.copy()
pod = pod.groupby('podcast_id')[['title', 'rating']].count().sort_values(by='title', ascending=False)
pod.describe()

              title        rating
count  52999.000000  52999.000000
mean      24.848129     24.848129
std      192.057912    192.057912
min        1.000000      1.000000
25%        1.000000      1.000000
50%        3.000000      3.000000
75%       10.000000     10.000000
max    30558.000000  30558.000000

In [146]:
pod = pod[pod['title'] > 500]
print(len(pod))
pod = pod.reset_index()
pod = pod['podcast_id']
pod.head()

441

0    bf5bf76d5b6ffbf9a31bba4480383b7f
1    bc5ddad3898e0973eb541577d1df8004
2    bad6c91efdbee814db985c7a65199604
3    f5fce0325ac6a4bf5e191d6608b95797
4    b1a3eb2aa8e82ecbe9c91ed9a963c362
Name: podcast_id, dtype: object

In [147]:
pod = pod[np.random.random_sample(len(pod)) > 0.7]
pod.describe()

count                                  127
unique                                 127
top       f1532be08580cab6125c489e2376a7cd
freq                                     1
Name: podcast_id, dtype: object

In [148]:
pod.to_csv('podcast_sample.csv', sep='\t')

In [149]:
ratings = reviews.copy()
ratings = ratings[ratings['author_id'].isin(aut)]
ratings.describe()

            rating
count  6821.000000
mean      4.511655
std       1.260285
min       1.000000
25%       5.000000
50%       5.000000
75%       5.000000
max       5.000000

In [150]:
ratings = ratings[ratings['podcast_id'].isin(pod)]
ratings.describe()

           rating
count  620.000000
mean     3.345161
std      1.923469
min      1.000000
25%      1.000000
50%      5.000000
75%      5.000000
max      5.000000

In [151]:
ratings[['podcast_id', 'author_id']].describe()

                              podcast_id        author_id
count                                620              620
unique                                63               38
top     f5fce0325ac6a4bf5e191d6608b95797  791F376ACA3C08D
freq                                 123              156

In [153]:
ratings = ratings[['podcast_id', 'rating', 'author_id']]
ratings.head()

                             podcast_id  rating        author_id
17254  d34629baca14d87860276b12a6cb7a3b       1  949410AE9D72DA4
17311  d34629baca14d87860276b12a6cb7a3b       5  F9939C4F2B7BCA4
54265  a3a535f66c7e8004e7dc54c2b2829a9e       5  96A3F0358E7808D
59165  a6cc4101cb004140936103e2ffbf8451       5  96A3F0358E7808D
59340  a6cc4101cb004140936103e2ffbf8451       5  F5B4FD0698E670E

In [ ]:
ratings.to_csv('rating')