In [2]:
import zipfile 
with zipfile.ZipFile('database.sqlite.zip', 'r') as f :
    f.extractall()

In [3]:
import pandas as pd

In [4]:
df = pd.read_sql?

In [6]:
import sqlite3 as sql
conn = sql.connect('database.sqlite')

In [8]:
runs = pd.read_sql('select * from runs', conn)

In [9]:
runs.head()

                run_at  max_rowid  reviews_added
0  2021-05-10 02:53:00    3266481        1215223
1  2021-06-06 21:34:36    3300773          13139
2  2021-07-02 18:04:55    3329699          11561
3  2021-08-01 17:54:42    3360315          11855
4  2021-09-02 18:00:30    3390165          11714

In [11]:
[x for x in runs.columns]

['run_at', 'max_rowid', 'reviews_added']

In [13]:
runs.save_csv('runs.csv', delimiter="\t")

AttributeError: 'DataFrame' object has no attribute 'save_csv'